@charset "UTF-8";
header{
    height: 100px;
    background-color: #FF99CC;
}
footer{
    height: 50px;
    background-color:#FF99CC;
}
.contents{
    min-height: 500px;
}
#IdCheckBtn {
   background-color: dodgerblue;
   color: white;
}
#signUpBtn{
    background-color: dodgerblue;
   color: white;
}
.signUp{
    width: 300px;
}

.contents-box {width:650px;}

#writeTextArea {height:100px;}

.comment-input {width:565px;}

.card-image{
	max-height: 600px;
}
.profile {
    width: 250px;
    height: 250px;
    border-radius: 70%;
}
.feedList{
	width: 750px;
	margin-left: 200px;
	padding-top: 60px;
}